<h1>Bookings</h1>

<div class="all-bookings"
<ul>
  <% @bookings.each do |booking| %>
    <li> 
    <%= booking.date %>
    <br>
    <p>Guests: <%= booking.number_of_people %>
    <br>
    Contact: <a href="<%= booking_path(booking) %>">
    <%= booking.user.name %></p>
      </a>
    </li>
  <% end %>
</ul>
</div>