<h1>Bookings</h1>

<div class="all-bookings"
<ul>
  <% @bookings.each do |booking| %>
    <li> 
    <%= booking.date %>
    <br>
    <%= booking.number_of_people %>
    <a href="<%= booking_path(booking) %>">
    <br>
    <%= booking.user.name %>
      </a>
    </li>
  <% end %>
</ul>
</div>