h1 {
    font-family: 'Mr Dafoe', cursive;
    font-size: 50px;
    text-align: center;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: red;
    font-weight: bold;
}

.website-content, .menu-content {
font-family: 'Montserrat', sans-serif;
    text-align: justify;
        padding: 10px;
    }

.website-headings {
    font-family: 'Mr Dafoe', cursive;
    font-size: 50px;
    text-align: center;
}

.homepage-content {
    background-color: white;
    border: 1px dashed black;
    border-radius: 25px; 
    box-shadow: 0 0 10px white;
    margin: 60px;
}

.sort-dropdown{
    text-align: center;
}

.menu-text-divclass {
        background-color: white;
            border: 1px dashed black;
            border-radius: 25px;
            box-shadow: 0 0 10px white;
            margin: 60px;
}

.meal-item {
    background-color: white;
    border: 1px dashed black;
    border-radius: 25px;
    box-shadow: 0 0 10px white;
    margin: 60px;
    text-align: center;
}

.menu-list {
    list-style-type: none;
}

  .meal-name {
font-family: 'Dancing Script', cursive;
font-size: 30px;
 }

 .feedback-buttons {
    display: centre;
    gap: 10px;
    margin: 20px;
 }

 .like-button, .dislike-button {
transition: background-color 0.3s ease;
    background-color: #fff;
        color: #000;
        border-radius: 5px;
    }
 
          .like-button:hover {
              background-color: green;
              color: #fff;
          }
    
          .dislike-button:hover {
              background-color: red;
              color: #fff;
          }

.about-container {
    text-align: center;
}

.about {
font-family: 'Montserrat', sans-serif;
background-color: white;
    border: 1px dashed black;
    border-radius: 25px;
    box-shadow: 0 0 10px white;
    margin: 60px;
    text-align: justify;
    padding: 10px;
}
.log-in {
    font-size: 50px;
    text-align: center;

}
.log-in-form {
    background-color: white;
        border: 1px dashed black;
        border-radius: 25px;
        box-shadow: 0 0 10px white;
        margin: 60px;
        text-align: center;
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
        font-family: 'Montserrat', sans-serif;
}
.register {
    font-size: 50px;
    text-align: center;
}

.registration-form {
        background-color: white;
            border: 1px dashed black;
            border-radius: 25px;
            box-shadow: 0 0 10px white;
            margin: 60px;
            text-align: center;
            padding: 10px;
            margin-left: 100px;
            margin-right: 100px;
            font-family: 'Montserrat', sans-serif;
        }

        .forgot-password {
            text-align: center;
            
        }

        .field {
            font-family: 'Montserrat', sans-serif;
        }

        .links {
                        font-family: 'Montserrat', sans-serif;
                        
        }

        .forgot-password-container {
                    background-color: white;
                        border: 1px dashed black;
                        border-radius: 25px;
                        box-shadow: 0 0 10px white;
                        margin: 60px;
        }

        .profile-page-container {
background-color: white;
    border: 1px dashed black;
    border-radius: 25px;
    box-shadow: 0 0 10px white;
    margin: 60px;   
                font-family: 'Montserrat', sans-serif;
}

.profile-page-content {
    text-align: center;
}

.sign-out-button {
    list-style-type: none;
}

.new-booking-content {
    text-align: center;
}

.new-booking-form {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: 1px dashed black;
    border-radius: 25px;
    box-shadow: 0 0 10px white;
    margin: 60px;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}


.submit-new-booking input[type="submit"], .update-booking input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: black solid 1px;
    border-radius: 5px;
}

  .submit-new-booking input[type="submit"]:hover {
      background-color: #45a049;
  }

.update-booking input[type="submit"]:hover {
    background-color: #45a049;
}
    
.user-bookings-content {
    text-align: center;
}

.user-bookings-form {
    font-family: 'Montserrat', sans-serif;
        background-color: white;
        border: 1px dashed black;
        border-radius: 25px;
        box-shadow: 0 0 10px white;
        margin: 60px;
        text-align: center;
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
            list-style-type: none;
}

.edit-booking-form {
    font-family: 'Montserrat', sans-serif;
        background-color: white;
        border: 1px dashed black;
        border-radius: 25px;
        box-shadow: 0 0 10px white;
        margin: 60px;
        text-align: center;
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
}

.all-bookings {
    font-family: 'Montserrat', sans-serif;
        background-color: white;
        border: 1px dashed black;
        border-radius: 25px;
        box-shadow: 0 0 10px white;
        margin: 60px;
        text-align: center;
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
        list-style-type: none;
}

.profile-button-group {
            display: flex;
            gap: 10px;
            justify-content: center;
                align-items: center;
    
}

#sign-out-button {
    background-color: green;
    border: #45a049;
}

#sign-out-button:hover {
        background-color: #3d8941;
}

.edit-profile-form {
    font-family: 'Montserrat', sans-serif;
        background-color: white;
        border: 1px dashed black;
        border-radius: 25px;
        box-shadow: 0 0 10px white;
        margin: 60px;
        text-align: center;
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
}

.edit-button {
        background-color: #45a049;
        color: white;
        border-radius: 5px;
}

.edit-button:hover {
    background-color: #3d8941;
}