<div class='page-content-all'>
<h1 class='website-headings'>Chef Tom</h1>

<div class="homepage-content">
<br>

<p class='website-content'>Welcome to Chef Tom, a premier dining experience in the heart of Soho, London. Led by renowned Head Chef Tom Court, our restaurant brings together a perfect blend of culinary expertise, exceptional flavors, and a warm ambiance that promises to delight your senses.
<br>
<br>
Please <%= link_to "Register", new_user_registration_path %> and <%= link_to "join us", reservation_path %> us one evening at Chef Tom and discover why we have become the epitome of culinary excellence in London. 
<br>
<br>
If you are already a member, please <%= link_to "sign in", new_user_session_path %> to create or view a reservation. Indulge in the artistry of Chef Tom Court and immerse yourself in a dining experience that will captivate your palate and leave a lasting impression.</p>
</div>
</div>