<div class='page-content-all'>
<h1 class='website-headings'>Chef Tom</h1>

<div class="homepage-content">
<br>
<h4 data-controller='hello'></h4>
<br>
<p class='website-content'>Welcome to Chef Tom, a premier dining experience in the heart of Soho, London. Our exclusive member's only restaurant brings together a perfect blend of culinary expertise, exceptional flavors, and a warm ambiance that promises to delight your senses.
<br>
<br>
As we are strictly 'Members Only', please <%= link_to "Register", new_user_registration_path %> before attempting to make a booking with us. If you are already a member, please <%= link_to "sign in", new_user_session_path %> to create or view a reservation.
<br>
<br>
Staff please click <%= link_to "HERE", bookings_path %> to see a full list of bookings</p>
</div>